#Very similar to RS definition
#A deployment creates an RS with matching properties
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-replicaset
spec:
  template:
    metadata:
      name: myapp-pod
      labels:
        app: myapp
        type: frontend
    spec:
      containers:
        - name: nginx
          image: nginx
  replicas: 3
  selector:
    matchLabels:
      type: frontend
